html{
}

body{
  margin: 0px;
  padding: 0px;
}

.header__nav{
  background: rgb(232, 233, 235);
  height: auto;
  width: 100%;

}
.nav__item{
  display: inline-block;
  padding: 0px;
  width: 31%;
}

.logoimage{
  width:250px;
  height:50px;
}

.search__bar{
  width:300px;
  height: 20px;
}

.searchicon__image{
  height: 20px;
  width: 20px;
}

.nav__searchlist{
  padding: 0px;
  margin: 0px;
  margin-left: 40px;
}

.list__item{
  display: inline-block;
  margin-right: 5px;
  font-size: 12px;
}

.listdiv__item{
  display: inline-block;
}

.div__child{
height:1100px;
}



/*central main section with data*/
.centersection{
  width: 62%;
  display: inline-block;
  background-color: rgba(245, 245, 245);
  padding-left: 100px;
  padding-right: 8px;
}

.table{
  border: 1px solid;
  text-align: center;
}

th{
  background-color: rgba(67, 68, 69);
  height: 40px;  
}
td{
  height: 40px;
}

a{
  text-decoration: none;
}

h2 h1{
  color: rgba(0, 14, 94);
  margin-bottom: 30px;
  margin-top: 30px;
}

.secondrow>td{
  background-color: rgba(215, 216, 217);
}

.solventrow, .temperaturerow{
  background-color: rgba(67, 163, 230,0.2);
  text-align: left;
  padding-left: 20px;
}






/*aside section*/

.aside{
  float: right;
  background: rgba(224, 224, 220,0.8);
  width: 28%;
  display: inline;
  padding-left: 20px;
}

.asideheading{
}

.aside__button{
  height: 40px;
  width: 200px;
  color: rgb(67, 163, 230);
  margin-top:10px;
  margin-bottom: 10px;
}

.downloadtable__button{
  background-color: rgba(166, 213, 245,0.5);
  border: 1px solid rgb(67, 163, 230)
}

.sociallist__items{
  display: inline-block;
}

.socialicon{
  height: 20px;
  margin-left: 5px;
  margin-right: 5px;
}
.asidelist{
  margin-top: 50px;
}

.asidelist__dt{
  margin-bottom: 20px;
  font-weight: bolder;
}

.asidelist__items{
  color: rgb(67, 163, 230);
  margin-bottom: 10px;
  margin-top: 10px;
}
.asidelist__items>a{
  color: rgb(67, 163, 230)
}




/**/

.footersection{
  padding-right: 20px;
  margin-left: 20px;
}

.footerlist__item{
  display: inline-block;
}

.footeranchor{
  text-decoration: none;
  color: gray;
}

.footerheading{
  margin-left: 40px;
}

.footertext{
  color: gray;
  margin-bottom: 5px; 
  margin-left: 40px;
}
